//
//  PLC style - Matthijs Alles - Bixie.nl
//

@global-color: #050505;
@global-font-size:                              20px;
@global-line-height:                            24px;
@global-grid-gutter:                            3px;
@global-grid-gutter-large:                      3px;

@base-h1-font-size:                             round((@global-font-size * 2.85)); // 40px
@base-h1-line-height:                           round((@base-h1-font-size * 1.25)); // 50px
@base-h2-font-size:                             round((@global-font-size * 1.71)); // 24px
@base-h2-line-height:                           round((@base-h2-font-size * 1.25)); // 30px
@base-h3-font-size:                             round((@global-font-size * 1.28)); // 18px
@base-h3-line-height:                           round((@base-h3-font-size * 1.33)); // 24px
@base-h4-font-size:                             round((@global-font-size * 1.1)); // 16px
@base-h4-line-height:                           round((@base-h4-font-size * 1.33)); // 24px

@base-heading-font-weight:                      900;

@text-large-font-size:                          140px;
@text-large-line-height:                        160px;
@text-success-color:                            #659f13;
@text-warning-color:                            #e28327;
@text-danger-color: #d81012;

@panel-title-font-size:                         @base-h2-font-size;
@panel-title-line-height:                       @base-h2-line-height;
@panel-title-font-weight:                       900;

@progress-height:                               40px;


@utility-container-max-width:                   1200px;
@utility-container-padding-horizontal:          35px;

@utility-container-large-max-width:             1500px;
@utility-container-large-padding-horizontal:    45px;

body.uk-body-danger .uk-modal.uk-open{
  background-color: @text-danger-color;
}

.bix-side {
  .uk-panel + .uk-panel {
    margin-top: 3px;
  }
}


.hook-utility-misc() {
  .uk-height-viewport-1-3 {
    height: 33vh;
    min-height: (@utility-height-viewport-min-height/3) ;
  }
}