//
// Component: Text
//
// ========================================================================


// Variables
// ========================================================================

@text-small-font-size:                          round((@global-font-size * 0.78)); // 11px / 12px
@text-small-line-height:                        round((@text-small-font-size * 1.49)); // 16px / 18px
@text-large-font-size:                          round((@global-font-size * 1.28)); // 18px / 20px
@text-large-line-height:                        round((@text-large-font-size * 1.32)); // 24px / 26px

@text-muted-color:                              @global-muted-color;


// Miscellaneous
// ========================================================================

.hook-text-misc() {
  .uk-text-contrast { color: @global-contrast-color !important; }

  .uk-header-large {
    font-size: 110px;
    line-height: 130px;
  }
  .uk-header-full {
    font-size: 490px;
    line-height: 520px;
  }
  /* Bigger!! */
  @media (min-width: @breakpoint-xxlarge) {

    .uk-header-large {
      font-size: 250px;
      line-height: 280px;
    }
    .uk-header-full {
      font-size: 790px;
      line-height: 820px;
    }

  }

}